body { 
    padding-top: 150px; /* required so content is pushed from under header navigation */
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	margin: auto;
	line-height: 3;
	font-size: 20px;
}
h3 {
	margin: auto;
	line-height: 3;
}
h4 {
	text-align: center;
	line-height: 2;
	font-size: 16px;
	}
p{
	line-height: 1.5;
};


/* IDs */
#linkedin, #email, #github {
		width: 100%;
		height: auto;

}
/* classes */
.panel-heading {
	padding: 20px 15px 5px 15px;
}
.underline {
	border-bottom: solid;
	border-width: 1px;
	border-color: #d5d5d5;
	
}
.image-format {
	margin: auto;
	float: left;
	width: 50%;
	padding: 15px 25px 10px 0px;

}


/* navbar covers content at smaller screen sizes - need more padding */
/*@media (max-width: 640px) {
  body {
    padding-top: 250px;


  }
  #main-image-md {
  	display : none;
  }
  .image-format {
	margin: auto;
	width: 50%;
	padding: 15px 25px 10px 0px;

}
}*/
@media (max-width: 768px){
  body {
    padding-top: 250px;
	
  }
   #main-image-md {
  	display : block;
  }
  .image-format {
	margin: auto;
	width: 100%;
	padding: 15px 25px 10px 0px;

}
#hide-p1-s-xs {
	display:none;
}
}